@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
h1 {
  color: #266fe6;
  font-family: Montserrat;
  font-size: 4rem;
  position: relative;
  padding: 0.7rem;
  padding-top: 3rem;
  text-align: center;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.7rem;
  }
}

h2 {
  color: #000000;
  font-size: 2.5rem;
  position: relative;
  text-align: center;
  margin-bottom: 5rem;
}

@media (max-width: 1036px) {
  h2 {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: 1.8rem;
  }
}

h3 {
  color: #000000;
  font-size: 1.8rem;
}

@media (max-width: 1024px) {
  h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  h3 {
    font-size: 1.4rem;
  }
}

h4 {
  font-size: 1.5rem;
}

html {
  font-size: 62.5%;
  /* por defecto se use 10px, usamos 1 rem = 10 px, medida relativa a la conf. del tamaño raiz*/
}

@media (min-width: 1400px) {
  html {
    font-size: 80%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto;
  font-size: 1.4rem;
}

body {
  background-color: #f1f1f1;
}

header {
  position: -webkit-sticky;
  position: sticky;
  /*menu de navegacion fijo*/
  top: 0px;
  width: 100%;
  z-index: 100;
  /*si quiero que no se vea sobre alguna section, le pongo un z menor*/
  background-color: rgba(229, 247, 247, 0.952);
  -webkit-backdrop-filter: blur(0.5px);
          backdrop-filter: blur(0.5px);
  -webkit-box-shadow: 2px 2px 10px rgba(134, 152, 184, 0.3);
          box-shadow: 2px 2px 10px rgba(134, 152, 184, 0.3);
}

header .navbar {
  padding-bottom: 0;
  padding-top: 0;
}

header .navbar .navbar-brand {
  padding-bottom: 0;
  padding-top: 0;
}

header .navbar .navbar-brand img {
  height: 7rem;
  width: -1rem;
  padding: 0rem;
  -webkit-filter: drop-shadow(1px 1px 2px #a8a8a8);
          filter: drop-shadow(1px 1px 2px #a8a8a8);
}

header .navbar .navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

@media (max-width: 1024px) {
  header .navbar .navbar-collapse .barraBaja {
    height: 100%;
  }
}

header .navbar .navbar-collapse .barraBajaUl {
  height: 100%;
}

@media (max-width: 1200px) {
  header .navbar .navbar-collapse .barraBajaUl {
    margin-left: -2rem;
  }
}

@media (max-width: 1024px) {
  header .navbar .navbar-collapse .barraBajaUl {
    margin-left: -2rem;
  }
}

@media (max-width: 600px) {
  header .navbar .navbar-collapse .barraBajaUl a {
    font-size: 1.3rem;
  }
}

header .navbar .navbar-collapse .barraBajaUl .nav-item {
  border-bottom: 3px solid transparent;
}

header .navbar .navbar-collapse .barraBajaUl .nav-item .nav-link {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

header .navbar .navbar-collapse .barraBajaUl .nav-item .nav-link:hover {
  color: #266fe6 !important;
}

header .navbar .navbar-collapse .barraBajaUl .active {
  border-bottom: 3px solid #266fe6 !important;
  height: 60px;
}

@media (min-width: 1400px) {
  header .navbar .navbar-collapse .barraBajaUl .active {
    height: 90px;
  }
}

header .navbar .navbar-collapse .barraBajaUl .active .nav-link {
  color: #266fe6 !important;
}

@media (max-width: 768px) {
  header .navbar .navbar-collapse .barraBajaUl .active {
    border: 0 !important;
    border-left: 3px solid #266fe6 !important;
    height: inherit;
  }
}

header .navbar .navbar-collapse .barraBajaUl li {
  margin-left: 2.5rem;
}

@media (min-width: 1400px) {
  header .navbar .navbar-collapse .barraBajaUl li {
    margin-left: 1.3rem;
  }
}

header .navbar .navbar-collapse .barraBajaUl li.bandera {
  -webkit-filter: drop-shadow(0.5px 0.5px 2px #a8a8a8);
          filter: drop-shadow(0.5px 0.5px 2px #a8a8a8);
}

header .navbar .navbar-collapse .barraBajaUl li.bandera .medida {
  width: 3rem;
  height: 3rem;
}

@media (max-width: 768px) {
  header .navbar .navbar-collapse .barraBajaUl li.bandera {
    padding-left: 1.5rem;
  }
}

.botonWhatsApp img {
  width: 70px;
  position: fixed;
  bottom: 20px;
  right: 90px;
  -webkit-filter: drop-shadow(2px 2px 3px #747373);
          filter: drop-shadow(2px 2px 3px #747373);
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, transform 2s;
  transition: width 2s, height 2s, transform 2s, -webkit-transform 2s;
  z-index: 10000;
}

.botonWhatsApp img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 1024px) {
  .botonWhatsApp img {
    width: 55px;
    position: fixed;
    -webkit-filter: drop-shadow(3px 3px 3px #747373);
            filter: drop-shadow(3px 3px 3px #747373);
    right: 10px;
    bottom: 60px;
  }
}

#cards {
  padding: 8rem;
}

@media (max-width: 1200px) {
  #cards {
    padding: 0;
  }
}

.textoColor {
  color: #266fe6;
  font-weight: 700;
}

.textoColorclaro {
  color: #b7d0f8;
  font-weight: 500;
}

.piedepagina {
  background-image: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(#050447), color-stop(#050449), color-stop(#040238), color-stop(#080768), color-stop(#07065c), to(#090979));
  background-image: linear-gradient(to right, #020024, #050447, #050449, #040238, #080768, #07065c, #090979);
  width: 100%;
  color: white;
}

.piedepagina__grilla {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "esarriba    estelefono   esinsta" ".           esmail       esface";
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  padding: 1rem;
}

@media (max-width: 500px) {
  .piedepagina__grilla {
    /*margin: 0.5rem 0 0 0;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .piedepagina__grilla article {
    font-size: 0.9rem;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.piedepagina__grilla--centrado {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.piedepagina__grilla--arriba {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: esarriba;
  /*  &:hover {

                a,
                .fa-chevron-circle-up {
                    background-image: linear-gradient(to left, #3b5998, #3b5998);
                    border-radius: 1rem;
                }
            } */
}

.piedepagina__grilla--arriba a,
.piedepagina__grilla--arriba .fa-chevron-circle-up {
  padding: 0.5rem;
}

.piedepagina__grilla--telefono {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: estelefono;
}

.piedepagina__grilla--mail {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: esmail;
}

.piedepagina__grilla--mail a,
.piedepagina__grilla--mail .fa-envelope {
  padding: 0.5rem;
}

.piedepagina__grilla--mail:hover a,
.piedepagina__grilla--mail:hover .fa-envelope {
  background-image: -webkit-gradient(linear, right top, left top, from(#3b5998), to(#3b5998));
  background-image: linear-gradient(to left, #3b5998, #3b5998);
  border-radius: 1rem;
}

.piedepagina__grilla--insta {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: esinsta;
}

.piedepagina__grilla--insta a,
.piedepagina__grilla--insta .fa-instagram {
  padding: 0.5rem;
}

.piedepagina__grilla--insta:hover a,
.piedepagina__grilla--insta:hover .fa-instagram {
  background-image: -webkit-gradient(linear, right top, left top, from(#f9ec32c9), color-stop(#ee2a7b), to(#002aff));
  background-image: linear-gradient(to left, #f9ec32c9, #ee2a7b, #002aff);
  border-radius: 1rem;
}

.piedepagina__grilla--face {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: esface;
}

.piedepagina__grilla--face a,
.piedepagina__grilla--face .fa-facebook-square {
  padding: 0.5rem;
}

.piedepagina__grilla--face:hover a,
.piedepagina__grilla--face:hover .fa-facebook-square {
  background-image: -webkit-gradient(linear, right top, left top, from(#3b5998), to(#3b5998));
  background-image: linear-gradient(to left, #3b5998, #3b5998);
  border-radius: 1rem;
}

.piedepagina__grilla p {
  font-size: 1.3rem;
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .piedepagina__grilla p {
    font-size: 1.1rem;
  }
}

.piedepagina__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-image: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(#050447), color-stop(#050449), color-stop(#040238), color-stop(#080768), color-stop(#07065c), to(#090979));
  background-image: linear-gradient(to right, #020024, #050447, #050449, #040238, #080768, #07065c, #090979);
  -webkit-filter: saturate(40%);
          filter: saturate(40%);
}

.piedepagina__flex a {
  font-size: 1.2rem;
}

@media (max-width: 500px) {
  .piedepagina__flex {
    padding: 10px 5px 10px 5px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .piedepagina__flex p,
  .piedepagina__flex a {
    font-size: 1rem;
  }
}

.piedepagina a {
  text-decoration: none;
  color: white;
}

.piedepagina a .fa-chevron-circle-up {
  font-size: 2rem;
}

.piedepagina a .fa-facebook-square {
  font-size: 2.5rem;
}

.piedepagina a .fa-instagram {
  font-size: 2.8rem;
}

.piedepagina a .fa-envelope {
  font-size: 2rem;
}

.disclaimer {
  display: none;
}

.pantallaCompleta {
  max-width: 100vw !important;
}

.pantallaCompleta .carousel {
  margin: 0 auto 2rem auto;
  padding-left: 0;
  padding-right: 0;
}

.pantallaCompleta .carousel .carousel-indicators .active {
  background-color: #266fe6;
}

.pantallaCompleta .carousel .carousel-indicators button {
  width: 4rem;
  height: 1rem;
  border-radius: 2rem;
  border: 0.2rem solid black;
}

@media (max-width: 1024px) {
  .pantallaCompleta .carousel .carousel-indicators button {
    width: 3.5rem;
    height: 0.7rem;
  }
}

@media (max-width: 500px) {
  .pantallaCompleta .carousel .carousel-indicators button {
    width: 1rem;
    height: 0.3rem;
  }
}

.pantallaCompleta .carousel .carousel-control-prev-icon,
.pantallaCompleta .carousel .carousel-control-next-icon {
  background-color: black;
  border-radius: 0.3rem;
  padding: 2rem;
}

@media (max-width: 700px) {
  .pantallaCompleta .carousel .carousel-control-prev-icon,
  .pantallaCompleta .carousel .carousel-control-next-icon {
    padding: 0rem;
  }
}

@media (max-width: 1100px) {
  .scroll .scrollHorizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .scroll .scrollHorizontal .scrollCard {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-right: 1.5rem;
  }
}

.modal {
  z-index: 10001;
}

.modal .modal-content {
  border-radius: 2rem;
}

.imagenCien {
  width: 100%;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3rem;
  padding-bottom: 5rem;
}

@media (max-width: 991px) {
  .cards .marginTop-quince {
    margin-top: 1.5rem;
  }
}

@media (max-width: 768px) {
  .cards .marginTop-quince {
    margin-top: 2.5rem;
  }
}

.cards article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 270px;
  min-width: 120px;
  min-height: 270px;
  border-radius: 25px;
  background-color: whitesmoke;
  padding: 1rem;
  -webkit-box-shadow: 2px 2px 15px #dde0e2;
          box-shadow: 2px 2px 15px #dde0e2;
  -webkit-transition: width 20s, height 20s, -webkit-transform 20s;
  transition: width 20s, height 20s, -webkit-transform 20s;
  transition: width 20s, height 20s, transform 20s;
  transition: width 20s, height 20s, transform 20s, -webkit-transform 20s;
}

@media (min-width: 1400px) {
  .cards article {
    max-width: 300px;
  }
}

.cards article:hover {
  border-color: #ffffff;
  -webkit-box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
  .cards article.responsive {
    margin-top: 2.5rem;
  }
}

.cards article a {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 1.3rem;
  margin-top: 1rem;
}

.cards article a img {
  width: 6rem;
  height: 6rem;
  background-color: rgba(202, 216, 243, 0.87);
  border-radius: 100%;
  padding: 10px;
  -webkit-filter: drop-shadow(4px 4px 4px #a8a8a8);
          filter: drop-shadow(4px 4px 4px #a8a8a8);
}

.cards article a:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: #bbebbb;
}

.cards article a p {
  font-size: 1.3rem;
  margin-top: 1rem;
  text-align: left;
}

@media (max-width: 600px) {
  .cards article a p {
    font-size: 1.2rem;
  }
}

.cards.cardsProductos article {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 3px solid rgba(202, 216, 243, 0.87);
  border-radius: 2rem;
  padding: 0.3rem 0.5rem 1rem 0.5rem;
  -webkit-box-shadow: 8px 9px 9px rgba(0, 0, 0, 0.15);
          box-shadow: 8px 9px 9px rgba(0, 0, 0, 0.15);
  margin: 2rem 0 0 0;
}

@media (min-width: 1199px) {
  .cards.cardsProductos article {
    margin: 3rem 0.5rem 0 0.5rem;
  }
}

.cards.cardsProductos article:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.cards.cardsProductos article:hover img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.cards.cardsProductos article a {
  color: white;
  margin-top: 0;
}

.cards.cardsProductos article a img {
  width: 100%;
  border-radius: 2rem;
  -webkit-filter: none;
          filter: none;
  height: inherit;
  background-color: inherit;
}

.cards.cardsProductos article p {
  font-size: 1.3rem;
}

.cards.cardsProductos article .botonesFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards.cardsProductos article .botonesFlex .btn-lg {
  font-size: 15px;
  width: 45%;
}

.cards.cardsProductos article .cardParrafo {
  margin: 3% 3%;
}

.cards.cardsPlanes article {
  -webkit-box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.5);
}

.cards.cardsPlanes article a:hover img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 768px) {
  .cards.cardsPlanes article .marginTop-quince {
    margin-top: 1.5rem;
  }
}

.cards.cardsNosotros {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.modal-footer {
  border-top: 0px !important;
}

.modal-header {
  border-bottom: 0px !important;
}

.modal-enviar {
  padding: 6rem 2rem 0 1rem;
}

.modal-enviar p, .modal-enviar b {
  font-size: 2rem;
}

.contenedorGeneral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem 0rem 0rem 0rem;
  z-index: 1 !important;
}

@media (max-width: 1024px) {
  .contenedorGeneral {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin: 0;
  }
}

.contenedorGeneral .formatoParrafosgrande {
  margin: 5% 3%;
}

.contenedorGeneral .formatoParrafos p {
  font-size: 1.8rem;
  margin: 4rem 7rem 4rem 7rem;
}

@media (max-width: 501px) {
  .contenedorGeneral .formatoParrafos p {
    margin: 1rem;
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
  }
}

.contenedorGeneral .formatoParrafos .fondoOscuro p {
  padding: 1rem;
}

.contenedorGeneral .formatoParrafos .fondoOscuro a {
  color: white;
  font-size: 2.5rem;
  -webkit-box-shadow: 2px 2px 10px rgba(91, 95, 102, 0.897);
          box-shadow: 2px 2px 10px rgba(91, 95, 102, 0.897);
  border-radius: 0.5rem !important;
  text-decoration: none;
}

.contenedorGeneral .formatoParrafos .fondoOscuro div {
  text-align: center;
  padding: 1rem;
}

@media (max-width: 501px) {
  .contenedorGeneral .formatoParrafos .fondoOscuro div a {
    font-size: 1.6rem;
  }
}

.contenedorGeneral .formatoParrafos .parrafoGrande {
  font-size: 3rem;
  text-align: center;
}

@media (max-width: 500px) {
  .contenedorGeneral .formatoParrafos .parrafoGrande {
    font-size: 2.3rem;
    margin: 1rem;
  }
}

.contenedorGeneral .fondoOscuro {
  background-color: rgba(204, 218, 241, 0.2);
  width: 100%;
  border-radius: 1rem !important;
  color: white;
}

.contenedorGeneral .empresaPresentacion {
  font-size: 2.4rem;
  color: #b7d0f8;
  line-height: 3.8rem;
  text-align: left;
}

@media (max-width: 1024px) {
  .contenedorGeneral .empresaPresentacion {
    margin-top: 2rem;
    font-size: 1.7rem;
    line-height: 2.5rem;
  }
}

.imagenBase {
  background-image: url("./../multimedia/imagenes/mar3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  min-height: 90vh;
  z-index: 50;
}

.imagenBase::before {
  content: "";
  background-color: rgba(22, 24, 24, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.imagenBase h1 {
  color: #fafafa;
}

.imagenBase .fondoClaro {
  color: #266fe6;
}

.baseTemporada {
  background-image: url("../multimedia/imagenes/mar6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  min-height: 90vh;
  z-index: 50;
  padding-bottom: 1rem !important;
}

.baseTemporada::before {
  content: "";
  background-color: rgba(235, 241, 241, 0.65);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.baseTemporada .fondoClaro {
  color: #266fe6;
}

.baseTemporada .formatoParrafos div {
  margin: 3rem 1rem 5rem 1rem;
}

.baseTemporada .formatoParrafos div button {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  font-size: 1.8rem;
  color: #dc3545;
  padding: 0;
}

@media (max-width: 601px) {
  .baseTemporada .formatoParrafos div button {
    font-size: 1.5rem;
  }
}

.baseTemporada .formatoParrafos p {
  margin: 0 1rem 0.5rem 1rem;
}

.formatoParrafos {
  margin: 0% 10%;
}

.formatoParrafos .parrafo {
  padding: 2rem 10rem 2rem 10rem;
  color: white;
  background-color: rgba(204, 218, 241, 0.2);
  border-radius: 1rem !important;
  margin: 5rem;
}

@media (max-width: 720px) {
  .formatoParrafos .parrafo {
    padding: 2rem 2rem 2rem 2rem;
    margin: 0;
  }
}

.formatoParrafos p {
  font-size: 1.8rem;
  margin: 3rem 10rem 3rem 10rem;
}

@media (min-width: 601px) {
  .formatoParrafos p {
    margin: 3rem 8rem 3rem 8rem;
  }
  .formatoParrafos p span {
    font-size: 1.8rem;
  }
}

.formatoParrafos p a {
  font-size: 1.8rem;
  text-decoration: none;
}

@media (max-width: 991px) {
  .formatoParrafos {
    margin: 1.5rem;
  }
}

@media (max-width: 600px) {
  .formatoParrafos {
    margin: 1.5rem;
  }
  .formatoParrafos p {
    font-size: 1.4rem;
    margin: 0;
    margin-bottom: 2rem;
  }
}

.formatoParrafos .productoPrecio {
  text-align: center;
  font-size: 3rem;
  color: #b7d0f8;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.formatoParrafos .productoPrecio .fontsizeParrafo {
  font-size: 3.5rem !important;
}

@media (max-width: 1024px) {
  .formatoParrafos .productoPrecio {
    font-size: 2rem;
  }
  .formatoParrafos .productoPrecio .fontsizeParrafo {
    font-size: 2rem !important;
  }
}

.formatoParrafos .colorIndex {
  color: black;
}

.formatoParrafos .linea {
  margin-left: auto !important;
  margin-right: auto !important;
  border-top: 3px solid #7f909b;
  width: 5%;
  margin-bottom: 5rem;
}

.formatoParrafos .muchoTexto {
  padding: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(202, 216, 243, 0.87)), to(white));
  background: linear-gradient(180deg, rgba(202, 216, 243, 0.87), white);
  -webkit-box-shadow: 3px 3px 6px rgba(41, 41, 41, 0.3);
          box-shadow: 3px 3px 6px rgba(41, 41, 41, 0.3);
  border-radius: 0.9rem;
}

@media (min-width: 1400px) {
  .formatoParrafos .muchoTexto span {
    font-size: 1.8rem;
  }
}

.formatoParrafos .muchoTexto div {
  text-align: center;
  padding: 1rem;
}

.formatoParrafos .muchoTexto div a {
  font-size: 2.5rem;
  text-decoration: none;
}

@media (max-width: 501px) {
  .formatoParrafos .muchoTexto div a {
    font-size: 1.5rem;
  }
}

.staff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.staff p {
  color: black;
}

@media (max-width: 500px) {
  .staff {
    padding: 1rem;
  }
  .staff p {
    padding-right: 2rem;
  }
}

.staffTodo {
  padding: 2rem 10rem 2rem 10rem;
  background-color: rgba(204, 218, 241, 0.568);
  border-radius: 1rem !important;
}

@media (max-width: 601px) {
  .staffTodo {
    padding: 5rem 0.5rem 5rem 0.5rem;
  }
}

.finalContainer {
  padding-bottom: 5rem;
}

.contacto {
  background-image: url("../multimedia/imagenes/ameba.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  min-height: 90vh;
}

.contacto::before {
  content: "";
  background-color: rgba(22, 24, 24, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.contacto h1 {
  color: #fafafa;
}

.contacto h2 {
  margin-bottom: 0rem;
  color: #b7d0f8;
}

.contacto h3 {
  margin-bottom: 0rem;
  color: #b7d0f8;
  position: relative;
  text-align: center;
  padding-top: 1.5rem;
  font-size: 1.5rem;
}

.contacto .needs-validation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 0.3rem;
  z-index: 0;
}

.contacto .needs-validation .btn {
  font-size: 2rem;
  margin-top: 3rem;
  -webkit-box-shadow: 2px 2px 10px rgba(91, 95, 102, 0.897);
          box-shadow: 2px 2px 10px rgba(91, 95, 102, 0.897);
}

.contacto .needs-validation .col-md-4,
.contacto .needs-validation .col-md-6 {
  width: 70%;
  color: #78a0df;
}

.contacto .needs-validation .col-md-4 .invalid-feedback,
.contacto .needs-validation .col-md-6 .invalid-feedback {
  font-size: 1.5rem;
  color: #f5dcdc;
  background-color: rgba(255, 105, 97, 0.7);
  padding: 1.5rem;
  border-radius: 0 0 1rem 1rem;
  margin-top: -1rem;
  z-index: 0;
}

.contacto .needs-validation .col-md-4 textarea:focus,
.contacto .needs-validation .col-md-4 input:focus,
.contacto .needs-validation .col-md-4 input[type]:focus,
.contacto .needs-validation .col-md-6 textarea:focus,
.contacto .needs-validation .col-md-6 input:focus,
.contacto .needs-validation .col-md-6 input[type]:focus {
  border-color: #266fe6;
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(123, 16, 223, 0.075) inset, 0 0 0.8rem rgba(0, 68, 255, 0.6);
          box-shadow: 0 0.5rem 0.5rem rgba(123, 16, 223, 0.075) inset, 0 0 0.8rem rgba(0, 68, 255, 0.6);
  outline: 0 none;
}

@media (max-width: 600px) {
  .contacto .needs-validation .col-md-4,
  .contacto .needs-validation .col-md-6 {
    width: 100%;
  }
}

.contacto .needs-validation .form-label {
  font-size: 1.7rem;
}

.contacto .needs-validation .form-control {
  padding: 1.5rem;
  font-size: 1.4rem;
  border-radius: 1rem !important;
}

.contacto .needs-validation .col-md-3 {
  padding: 2rem 5rem 5rem 5rem;
  background-color: rgba(204, 218, 241, 0.2);
  width: 50%;
  border-radius: 1rem !important;
}

.contacto .needs-validation .col-md-3 .form-label {
  margin-bottom: 3rem;
  color: white;
}

.contacto .needs-validation .col-md-3 .form-select {
  font-size: 1.3rem;
}

@media (max-width: 600px) {
  .contacto .needs-validation .col-md-3 {
    width: 100%;
  }
}

.contacto .was-validated .form-control:invalid {
  border: 0.3rem solid red !important;
}

.sinMargin {
  margin: 0 !important;
}

.paddingOchenta {
  padding: 8rem;
}

.paddingTop {
  padding-top: 1rem;
}

.paddingBottom {
  padding-bottom: 1rem;
}

.paddingQuince {
  padding: 1.5rem;
}

.paddingleftTreinta {
  padding-left: 3rem;
}

.marginBottom-quince {
  margin-bottom: 1.5rem;
}

.marginBottom-cincuenta {
  margin-bottom: 5rem;
}

.marginTop-cincuenta {
  margin-top: 5rem;
}

.marginRight-quince {
  margin-right: 1.5rem;
}

.marginTop-diez {
  margin-top: 1rem;
}

.error404 {
  background-image: url("../multimedia/imagenes/dorisPagina404.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  min-height: 90vh;
  padding-top: 3rem;
}

.error404 .titulo {
  padding: 2rem;
  background-color: rgba(39, 50, 68, 0.5);
  width: 50%;
  border-radius: 1rem !important;
  margin-left: 3%;
}

@media (max-width: 768px) {
  .error404 .titulo {
    width: 100vw;
    margin-left: 0;
  }
}

.error404 .titulo h1 {
  color: #fafafa;
}

@media (max-width: 880px) {
  .error404 .titulo h1 {
    font-size: 3.3rem;
  }
}

.error404 .titulo h2 {
  color: #b7d0f8;
  margin-top: 2rem;
}

.error404 .titulo a {
  color: white;
  font-size: 2.5rem;
  -webkit-box-shadow: 2px 2px 10px rgba(91, 95, 102, 0.897);
          box-shadow: 2px 2px 10px rgba(91, 95, 102, 0.897);
  border-radius: 0.5rem !important;
  text-decoration: none;
}

@media (max-width: 880px) {
  .error404 .titulo a {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    width: 140px;
  }
}
/*# sourceMappingURL=style.css.map */