.scroll {

    @media (max-width: 1100px) {
        .scrollHorizontal {
            display: flex;
            overflow-y: hidden;
            overflow-x: auto;
            flex-wrap: nowrap;
            justify-content: flex-start;


            .scrollCard {
                flex: 0 0 auto;
                margin-right: 1.5rem;
            }
        }
    }
}

.modal {
    .modal-content {
        border-radius: 2rem;
    }
}

.imagenCien {
    width: 100%;
}

.cards {
    @include flexbox;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 3rem;
    padding-bottom: 5rem;

    @media (max-width: 991px) {
        .marginTop-quince {
            margin-top: 1.5rem;
        }
    }

    @media (max-width: 768px) {
        .marginTop-quince {
            margin-top: 2.5rem;
        }
    }

    article {
        @include flexbox;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 270px;
        min-width: 120px;
        min-height: 270px;
        border-radius: 25px;
        background-color: whitesmoke;
        padding: 1rem;
        box-shadow: 2px 2px 15px #dde0e2;
        transition: width 20s, height 20s, transform 20s;

        @media (min-width: 1400px) {
            max-width: 320px;
        }

        &:hover {
            border-color: #ffffff;
            box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.2);
        }

        &.responsive {
            @media (max-width: 767px) {
                margin-top: 2.5rem;
            }
        }

        a {
            text-decoration: none;
            color: black;
            text-align: center;
            font-size: 1.3rem;
            margin-top: 1rem;

            img {
                width: 6rem;
                height: 6rem;
                background-color: $colorbase-iconos;
                border-radius: 100%;
                padding: 10px;
                filter: drop-shadow(4px 4px 4px rgb(168, 168, 168));
            }

            &:hover {
                img {
                    transform: scale(1.2);
                    background-color: $colorbase-iconosHover;
                }
            }

            p {
                font-size: 1.3rem;
                margin-top: 1rem;
                text-align: left;

                @media (max-width: 600px) {
                    font-size: 1.2rem;
                }
            }
        }
    }

    &.cardsProductos {

        article {
            justify-content: space-evenly;
            border: 3px solid rgba(202, 216, 243, 0.87);
            border-radius: 2rem;
            padding: 0.3rem 0.5rem 1rem 0.5rem;
            box-shadow: 8px 9px 9px rgba(0, 0, 0, 0.15);
            margin: 2rem 0 0 0;

            @media (min-width: 1199px) {
                margin: 3rem 0.5rem 0 0.5rem;
            }

            &:hover {
                transform: scale(1.05);

                img {
                    transform: scale(1);
                }
            }

            a {
                color: white;
                margin-top: 0;

                img {
                    width: 100%;
                    border-radius: 2rem;
                    filter: none;
                    height: inherit;
                    background-color: inherit;
                }
            }

            p {
                font-size: 1.3rem;
            }

            .botonesFlex {
                @include flexbox;
                justify-content: space-evenly;
                flex-wrap: wrap;

                .btn-lg {
                    font-size: 15px;
                    width: 45%
                }
            }

            .cardParrafo {
                margin: 3% 3%;
            }
        }
    }

    &.cardsPlanes {
        article {
            box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.5);

            a {
                &:hover {
                    img {
                        transform: scale(1);
                    }
                }
            }

            @media (max-width: 768px) {
                .marginTop-quince {
                    margin-top: 1.5rem;
                }
            }
        }
    }

    &.cardsNosotros {
        transform: scale(1);
    }
}