.formatoParrafos {
    margin: 0% 10%; 
    margin-bottom: 7rem; 
    margin-top: 4rem;           
    @media (max-width: 600px) {
        margin: 2rem;
    }
    .productoPrecio {
        text-align: center;
        font-size: 2rem;
        color: black;
        margin-bottom: 3rem;
        @media (max-width: 1024px) {
            font-size: 1.7rem;
        }
        @media (max-width: 600px) {
            font-size: 1.4rem;
            p {
                font-size: 1.3rem;
            }
        }
    }    
}