.sinMargin {
    margin: 0 !important;
}

.paddingOchenta {
    padding: 8rem;
}

.paddingTop {
    padding-top: 1rem;
}

.paddingBottom {
    padding-bottom: 1rem;
}

.paddingQuince {
    padding: 1.5rem;
}

.paddingleftTreinta {
    padding-left: 3rem;
}

.marginBottom-quince {
    margin-bottom: 1.5rem;
}

.marginBottom-cincuenta {
    margin-bottom: 5rem;
}

.marginTop-cincuenta {
    margin-top: 5rem;
}

.marginRight-quince {
    margin-right: 1.5rem;
}