.staff {
    @include flexbox;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;

    p {
        color: rgb(218, 208, 208);
    }

    @media (max-width: 500px) {
        padding: 1rem;

        p {
            padding-right: 2rem;
        }
    }
}

.staffTodo {
    padding: 2rem 10rem 2rem 10rem;
    background-color: rgba(204, 218, 241, 0.3);
    border-radius: 1rem !important;

    @media (max-width: 601px) {
        padding: 5rem 0.5rem 5rem 0.5rem;
    }
}

.finalContainer {
    padding-bottom: 5rem;
}