$colorbasenavbar: rgba(229, 247, 247, 0.952);
$azul-medio:rgba(38, 111, 230, 1);
$azul-claro:#78a0df;
$colorbase-iconos:rgba(202, 216, 243, 0.87);
$colortitulofondo:rgb(250, 250, 250);
$colorSubtitulofondo:rgb(183, 208, 248);